{% extends 'registration/base.html' %}
{% block content %}

	<div class="w3-container formclass">
		<h5>Please fill your project information carefully, and before submitting new project, make sure your friend/teammate has not done the same. Duplicate projects will cause reduntency.</h5>
		<h5>Make sure you select your teammates (and also your name) in contributers list carefully</h5>
		<form id="addproject" class="w3-container" method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
			<table class="w3-table">
			{{ project.as_table }}
		</table>
		<button type="submit" class="save w3-btn w3-round w3-blue w3-hover-red">Save</button>
		</form>
	</div>

{% endblock %}
