{% extends 'mainsite/base.html' %}
{% block content %}

  <div id="dev-team" class="w3-container">
    <div class="w3-container">
      <h3 class="w3-center">Developer's of this Website</h3>
      <p>Well nothing to brag, but finding developers with skill to dedicate their time for this site was quite tough.</p>
      <table class="w3-table">
        <tr>
          <th><a style="text-decoration:none;" target="_blank" href="http://www.devojoyti.me/"><p class="w3-hover-text-red w3-text-blue">Devojoyti Halder</p></a></th>
          <th><p>Fullstack developer and Webmaster</p></th>
        </tr>
        <tr>
          <th><a style="text-decoration:none;" target="_blank" href="http://www.markroxor.in/"><p class="w3-hover-text-red w3-text-blue">Mohit Rathore</p></a></th>
          <th><p>Fullstack developer</p></th>
        </tr>
        <tr>
          <th><p class="w3-hover-text-red w3-text-blue">Souvik Saha</p></th>
          <th><p>Frontend Developer</p></th>
        </tr>
      </table>
    </div>
  </div>

{% endblock %}
