{% extends 'mainsite/base.html' %}
{% block content %}
<style type="text/css">
	#_projects{
		background-color: rgb(244,67,54);
		color: white;
	}
</style>
<div id="project-list" class="w3-container">
	<h2 class="w3-center" style="padding-bottom: 50px;">Ongoing Projects</h2>
	{% for p in project %}
	<div id="projects" class="w3-container w3-row-padding w3-card-8">
		<div class="w3-col s3 w3-container">
			<img class="project-pic" src={{ p.pic_url|default_if_none:'#' }}>
		</div>
		<div class="w3-col s7 w3-container">
			<h3>{{ p.name }}</h3>
			<div class="w3-container w3-card-2">
				<h5 class="w3-text-blue">Description</h5>
				<p>{{ p.description }}</p>
			</div>
			<h5 class="w3-center">Made by - </h5>
			<ul class="w3-right w3-medium" style="list-style:none">
				{% for c in p.contributers.all %}
					<li><p>{{c}}</p></li>
				{% endfor %}
			</ul>
		</div>
		<div class="w3-col s2 w3-container">
			<p class="w3-right">Find it at Github <a href="{{p.github}}"><img src="/static/github.png" alt="github" title="github"></a></p>
		</div>
		<hr class="fade">
	</div>
	{% endfor %}
</div>



{% endblock %}
