{% extends 'mainsite/base.html' %}
{% block content %}

<! user details>
<div id="userdetails" class="w3-container w3-row-padding w3-card-8 student">
  <div class="w3-container w3-col s4">
    <img class="profile-pic" src={{ member.pic_url|default_if_none:'#' }}>
  </div>
  <div class="w3-container w3-col s8">
    <div class="w3-container w3-row-padding">
      <div class="w3-container w3-col s8">
        <h3>{{ member.name }}</h3>
        <p>Branch: {{member.branch}}</p>
        <p>E-mail id: {{ member.email }}</p>
      </div>
      <div class="w3-container w3-col s4">
        <a href={{member.linkedin}} alt="LinkedIn Account" title="LinkedIn Account"><img src="/static/linkedin.png"></a>
        <p style="padding-top:3px;">Download Resume <a id="download" href={{ member.resume_url|default_if_none:'#' }} <i class="material-icons">file_download</i></a></p>
      </div>
    </div>
  </div>
  <div class="w3-container w3-center">
    <a href="/profile/edit"><button class="w3-btn w3-blue">Edit Details</button></a>
  </div>
</div>

<!user projects>
<div id="userprojects" class="w3-container">
    <h3 class="w3-center">Ongoing Projects</h3>
    {% if ongoing_projects %}
    {% for p in ongoing_projects %}
      <div class="w3-container w3-row-padding w3-card-8 proj">
      <h5 class="w3-center">{{p.name}}</h5>
        <div class="w3-container w3-col s4">
          <img class="project-pic" src={{ p.pic_url|default_if_none:'#' }}>
        </div>
        <div class="w3-container w3-col s8">
          <p>{{p.description}}</p>
          <a href="{{p.github}}">Github Link</a>
           <a href="/profile/editproject/{{p.serial}}"><button class="w3-btn w3-blue">Edit Project</button></a>
        </div>
        <div class="w3-container">
          <p>Contributers</p>
          {% for c in p.contributers.all %}
          <li><p>{{c}}</p></li>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    {% else %}
        <h5 class="w3-center w3-text-deep-orange">No projects to show!</h5>
    {% endif %}
    <h3 class="w3-center">Completed Projects</h3>
    {% if completed_projects %}
    {% for p in completed_projects %}
      <div class="w3-container w3-row-padding w3-card-8 proj">
      <h5 class="w3-center">{{p.name}}</h5>
        <div class="w3-container w3-col s4">
          <img class="project-pic" src={{ p.pic_url|default_if_none:'#' }}>
        </div>
        <div class="w3-container w3-col s8">
          <p>{{p.description}}</p>
          <a href="{{p.github}}">Github Link</a>
          <a href="/profile/editproject/{{p.serial}}"><button class="w3-btn w3-blue">Edit Project</button></a>
        </div>
        <div class="w3-container">
          <p>Contributers</p>
          {% for c in p.contributers.all %}
          <li><p>{{c}}</p></li>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5 class="w3-center w3-text-deep-orange">No projects to show!</h5>
  {% endif %}
  <div style="margin-top:100px;"class="w3-container w3-center">
    <a href="/profile/addproject"><button class="w3-btn w3-blue">Add Project</button></a>
  </div>
</div>
{% endblock %}
